= form_tag sessions_path do
  %header
    %h1 Sign In
  %fieldset
    .form-group
      = label_tag :email, "Email Address"
      .row
        .col-sm-4
          = email_field_tag :email, nil, class: "form-control"
    .form-group
      = label_tag :password
      .row
        .col-sm-4
          = password_field_tag :password, nil, class: "form-control"
  %fieldset.form-group.action
    %input(type="submit" value="Sign In" class="btn btn-default")
