<%= Gon::Base.render_data %>
<div id="job-id-container">
  <div id="job_id">
  </div>
</div>
<div id="img">
  <pre id="output"></pre>
  <%= form_tag apply_watermark_path, id: "form" do %>
    <%= hidden_field_tag :id, @image.id, id: 'id' %>
    <%= text_field_tag :text %>
    <%= submit_tag "Apply Watermark" %>
  <% end %>
</div>

<script src="https://apis.google.com/js/client.js?onload=checkAuth"></script>
