<div id="job-id-container">
  <div id="job_id">
  </div>
</div>
<div id="img" class="container">
  <div id="output"></div>
  <%= form_tag apply_watermark_path, id: "form" do %>
    <%= hidden_field_tag :id, @image.id, id: 'id' %>
    <%= hidden_field_tag :type, "trump"  %>
    <%= submit_tag "Make This Image Great Again", class: "btn btn-danger" %>
  <% end %>

  <%= form_tag apply_watermark_path, id: "form" do %>
    <%= hidden_field_tag :id, @image.id, id: 'id' %>
    <%= hidden_field_tag :type, "unicorns"  %>
    <%= submit_tag "Make this Image Sparkle", class: "btn btn-success" %>
  <% end %>
</div>

<script src="https://apis.google.com/js/client.js?onload=authMe"></script>
<script src="https://apis.google.com/js/api.js"></script>
